<h1  class="title">Give your FeedBack Here</h1>
<form class="form-group">
    <div class="user">
    <input type="text" name="name" placeholder="enter your name">
    </div>
    <br><br>
    <div class="mail-group">
    <input type="text"name="email"placeholder="enter your mail">
    </div>
    <br><br>
    <div class="feed-group">
   <textarea name="feedback" placeholder="enter your feedback "></textarea>
   </div> 
   <br><br>

    <button (click)="res()" class="btn-group">submit</button>
   <p>{{msg}}</p>
</form>