.feedbackBox{
    background: #EEE;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}
.alert {
    padding: 20px;
    background-color:#006400; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .help-block {
    padding: 20px;
    background-color:#f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
.formfield * {
    vertical-align: middle;
  }
