.user{
    color: brown;
    box-shadow: chocolate;
}
.form-group{
    text-align: center;
    
}
.title{
    text-align: center;
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
}